<a href="https://colab.research.google.com/github/thavha/Regression-predict-group-5/blob/master/regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Data Preprocessing**
Importing Liabraries

In [0]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns
import datetime

**Importing the data set** and checking the data

In [0]:
dataset = pd.read_csv('Train.csv')

In [63]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21201 entries, 0 to 21200
Data columns (total 29 columns):
 #   Column                                     Non-Null Count  Dtype
---  ------                                     --------------  -----
 0   Order No                                   21201 non-null  object
 1   User Id                                    21201 non-null  object
 2   Vehicle Type                               21201 non-null  object
 3   Platform Type                              21201 non-null  int64
 4   Personal or Business                       21201 non-null  object
 5   Placement - Day of Month                   21201 non-null  int64
 6   Placement - Weekday (Mo = 1)               21201 non-null  int64
 7   Placement - Time                           21201 non-null  object
 8   Confirmation - Day of Month                21201 non-null  int64
 9   Confirmation - Weekday (Mo = 1)            21201 non-null  int64
 10  Confirmation - Time                        21201 non-null  object
 11  Arrival at Pickup - Day of Month           21201 non-null  int64
 12  Arrival at Pickup - Weekday (Mo = 1)       21201 non-null  int64
 13  Arrival at Pickup - Time                   21201 non-null  object
 14  Pickup - Day of Month                      21201 non-null  int64
 15  Pickup - Weekday (Mo = 1)                  21201 non-null  int64
 16  Pickup - Time                              21201 non-null  object
 17  Arrival at Destination - Day of Month      21201 non-null  int64
 18  Arrival at Destination - Weekday (Mo = 1)  21201 non-null  int64
 19  Arrival at Destination - Time              21201 non-null  object
 20  Distance (KM)                              21201 non-null  int64
 21  Temperature                                16835 non-null  float64
 22  Precipitation in millimeters               552 non-null    float64
 23  Pickup Lat                                 21201 non-null  float64
 24  Pickup Long                                21201 non-null  float64
 25  Destination Lat                            21201 non-null  float64
 26  Destination Long                           21201 non-null  float64
 27  Rider Id                                   21201 non-null  object
 28  Time from Pickup to Arrival                21201 non-null  int64
dtypes: float64(6), int64(13), object(10)
memory usage: 4.7+ MB

selecting only the rlevent  columns that will be used for the model and replacing white space with _ on columns names

In [0]:
new_df = dataset[['User Id','Platform Type','Personal or Business','Placement - Day of Month','Placement - Weekday (Mo = 1)','Placement - Time','Confirmation - Time','Arrival at Pickup - Time','Arrival at Destination - Time','Distance (KM)','Temperature','Rider Id','Time from Pickup to Arrival']].copy()
new_df.columns = [col.replace(" ","_") for col in new_df.columns]

In [65]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21201 entries, 0 to 21200
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   User_Id                        21201 non-null  object
 1   Platform_Type                  21201 non-null  int64
 2   Personal_or_Business           21201 non-null  object
 3   Placement_-_Day_of_Month       21201 non-null  int64
 4   Placement_-_Weekday_(Mo_=_1)   21201 non-null  int64
 5   Placement_-_Time               21201 non-null  object
 6   Confirmation_-_Time            21201 non-null  object
 7   Arrival_at_Pickup_-_Time       21201 non-null  object
 8   Arrival_at_Destination_-_Time  21201 non-null  object
 9   Distance_(KM)                  21201 non-null  int64
 10  Temperature                    16835 non-null  float64
 11  Rider_Id                       21201 non-null  object
 12  Time_from_Pickup_to_Arrival    21201 non-null  int64
dtypes: float64(1), int64(5), object(7)
memory usage: 2.1+ MB

encoding personal or business column

In [66]:
new_df = pd.get_dummies(new_df, columns=['Personal_or_Business'], prefix = ['personal'])
new_df = new_df.iloc[:, :-1]
new_df.columns = [*new_df.columns[:-1], 'Business']
new_df.head()
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21201 entries, 0 to 21200
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   User_Id                        21201 non-null  object
 1   Platform_Type                  21201 non-null  int64
 2   Placement_-_Day_of_Month       21201 non-null  int64
 3   Placement_-_Weekday_(Mo_=_1)   21201 non-null  int64
 4   Placement_-_Time               21201 non-null  object
 5   Confirmation_-_Time            21201 non-null  object
 6   Arrival_at_Pickup_-_Time       21201 non-null  object
 7   Arrival_at_Destination_-_Time  21201 non-null  object
 8   Distance_(KM)                  21201 non-null  int64
 9   Temperature                    16835 non-null  float64
 10  Rider_Id                       21201 non-null  object
 11  Time_from_Pickup_to_Arrival    21201 non-null  int64
 12  Business                       21201 non-null  uint8
dtypes: float64(1), int64(5), object(6), uint8(1)
memory usage: 2.0+ MB

dealing with the missing valuse replace with the mean/median temperature

In [67]:
new_df['Temperature'] = new_df.Temperature.fillna(new_df.Temperature.median())
new_df.head()
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21201 entries, 0 to 21200
Data columns (total 13 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   User_Id                        21201 non-null  object
 1   Platform_Type                  21201 non-null  int64
 2   Placement_-_Day_of_Month       21201 non-null  int64
 3   Placement_-_Weekday_(Mo_=_1)   21201 non-null  int64
 4   Placement_-_Time               21201 non-null  object
 5   Confirmation_-_Time            21201 non-null  object
 6   Arrival_at_Pickup_-_Time       21201 non-null  object
 7   Arrival_at_Destination_-_Time  21201 non-null  object
 8   Distance_(KM)                  21201 non-null  int64
 9   Temperature                    21201 non-null  float64
 10  Rider_Id                       21201 non-null  object
 11  Time_from_Pickup_to_Arrival    21201 non-null  int64
 12  Business                       21201 non-null  uint8
dtypes: float64(1), int64(5), object(6), uint8(1)
memory usage: 2.0+ MB

dealing with time columns

In [0]:
new_df['Placement_-_Time 24'] = (pd.to_datetime(new_df['Placement_-_Time'].str.strip(), format='%I:%M:%S %p')
                  .dt.strftime('%H:%M'))
new_df['Confirmation_-_Time 24'] = (pd.to_datetime(new_df['Confirmation_-_Time'].str.strip(), format='%I:%M:%S %p')
                  .dt.strftime('%H:%M'))
new_df['Arrival_at_Pickup_-_Time 24'] = (pd.to_datetime(new_df['Arrival_at_Pickup_-_Time'].str.strip(), format='%I:%M:%S %p')
                  .dt.strftime('%H:%M'))
new_df['Arrival_at_Destination_-_Time 24'] = (pd.to_datetime(new_df['Arrival_at_Destination_-_Time'].str.strip(), format='%I:%M:%S %p')
                  .dt.strftime('%H:%M'))

In [69]:
new_df.head()

        User_Id  ...  Arrival_at_Destination_-_Time 24
0   User_Id_633  ...                             10:39
1  User_Id_2285  ...                             12:17
2   User_Id_265  ...                             13:00
3  User_Id_1402  ...                             10:05
4  User_Id_1737  ...                             10:25

[5 rows x 17 columns]

In [70]:
new_df.drop(['Placement_-_Time', 'Confirmation_-_Time','Arrival_at_Pickup_-_Time','Arrival_at_Destination_-_Time','User_Id','Rider_Id'], axis=1)

       Platform_Type  ...  Arrival_at_Destination_-_Time 24
0                  3  ...                             10:39
1                  3  ...                             12:17
2                  3  ...                             13:00
3                  3  ...                             10:05
4                  1  ...                             10:25
...              ...  ...                               ...
21196              3  ...                             16:20
21197              3  ...                             10:46
21198              3  ...                             18:40
21199              1  ...                             10:08
21200              3  ...                             15:17

[21201 rows x 11 columns]

In [71]:
new_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21201 entries, 0 to 21200
Data columns (total 17 columns):
 #   Column                            Non-Null Count  Dtype
---  ------                            --------------  -----
 0   User_Id                           21201 non-null  object
 1   Platform_Type                     21201 non-null  int64
 2   Placement_-_Day_of_Month          21201 non-null  int64
 3   Placement_-_Weekday_(Mo_=_1)      21201 non-null  int64
 4   Placement_-_Time                  21201 non-null  object
 5   Confirmation_-_Time               21201 non-null  object
 6   Arrival_at_Pickup_-_Time          21201 non-null  object
 7   Arrival_at_Destination_-_Time     21201 non-null  object
 8   Distance_(KM)                     21201 non-null  int64
 9   Temperature                       21201 non-null  float64
 10  Rider_Id                          21201 non-null  object
 11  Time_from_Pickup_to_Arrival       21201 non-null  int64
 12  Business                          21201 non-null  uint8
 13  Placement_-_Time 24               21201 non-null  object
 14  Confirmation_-_Time 24            21201 non-null  object
 15  Arrival_at_Pickup_-_Time 24       21201 non-null  object
 16  Arrival_at_Destination_-_Time 24  21201 non-null  object
dtypes: float64(1), int64(5), object(10), uint8(1)
memory usage: 2.6+ MB

spliting data into X and Y , first converting time into hours lapse since the day started

In [74]:
new_df = new_df[['Platform_Type', 'Arrival_at_Pickup_-_Time 24','Confirmation_-_Time 24','Placement_-_Time 24','Business','Temperature','Distance_(KM)','Placement_-_Weekday_(Mo_=_1)','Placement_-_Day_of_Month','Platform_Type', 'Arrival_at_Destination_-_Time 24', 'Time_from_Pickup_to_Arrival']]
new_df['Placement_-_Time 24'] = new_df['Placement_-_Time 24'].str.replace(':','.')
new_df['Confirmation_-_Time 24'] = new_df['Confirmation_-_Time 24'].str.replace(':','.')
new_df['Arrival_at_Pickup_-_Time 24'] = new_df['Arrival_at_Pickup_-_Time 24'].str.replace(':','.')
new_df['Arrival_at_Destination_-_Time 24'] = new_df['Arrival_at_Destination_-_Time 24'].str.replace(':','.')
new_df.head()

   Platform_Type  ...  Time_from_Pickup_to_Arrival
0              3  ...                          745
1              3  ...                         1993
2              3  ...                          455
3              3  ...                         1341
4              1  ...                         1214

[5 rows x 18 columns]

In [0]:
x =pd.DataFrame(new_df.iloc[:,:-1].values)
y = new_df.iloc[:,-1].values

Rescaling the x values using standardisation

In [80]:
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
X_scaled = scaler.fit_transform(x)
X_standardise = pd.DataFrame(X_scaled,columns=x.columns)
X_standardise.head()

         0         1         2   ...        14        15        16
0  0.396406  0.396406  0.396406  ...  0.396406  0.396406 -1.254938
1  0.396406  0.396406  0.396406  ...  0.396406  0.396406 -0.558816
2  0.396406  0.396406  0.396406  ...  0.396406  0.396406 -0.234220
3  0.396406  0.396406  0.396406  ...  0.396406  0.396406 -1.387905
4 -2.802759 -2.802759 -2.802759  ... -2.802759 -2.802759 -1.309689

[5 rows x 17 columns]

training a model using lasso